[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joshua Yang (joshua-yang)
[access "refs/for/refs/*"]
	read = group user/Joshua Yang (joshua-yang)
	push = group user/Joshua Yang (joshua-yang)
	label-Code-Review = -2..+2 group user/Joshua Yang (joshua-yang)
	label-Verified = -1..+1 group user/Joshua Yang (joshua-yang)
	rebase = group user/Joshua Yang (joshua-yang)
	removeReviewer = group user/Joshua Yang (joshua-yang)
	submit = group user/Joshua Yang (joshua-yang)
[access "refs/heads/*"]
	read = group user/Joshua Yang (joshua-yang)
	create = group user/Joshua Yang (joshua-yang)
	push = +force group user/Joshua Yang (joshua-yang)
	pushMerge = group user/Joshua Yang (joshua-yang)
[access "refs/tags/*"]
	push = group user/Joshua Yang (joshua-yang)
	push = +force group user/Joshua Yang (joshua-yang)
[project]
	state = hidden
